@charset "UTF-8";
.custom-file-label::after {
  content: "选择文件" !important;
}

.hidden-file-upload {
  visibility: hidden;
  position: absolute;
}

.upload-image-callback img {
  margin-top: 5px;
  width: 200px;
  vertical-align: middle;
  border-style: none;
}

#global-toast.toast-bs-container {
  z-index: 1100;
}

#global-toast.toast-bs-container .toast-position {
  top: 6rem !important;
  right: 4rem !important;
}

#global-toast.toast-bs-container .toast-title {
  font-size: 1rem !important;
}

body#model-iframe {
  background-color: transparent !important;
  padding-right: 0 !important;
  overflow-x: hidden;
}

body#model-iframe .content {
  margin: 0;
}

body#model-iframe .content .content-wrapper {
  padding: 1rem 1rem 0;
}

.loading-area {
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.loading-area .loading {
  display: flex;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.loading-area .loading .dot {
  position: relative;
  width: 1em;
  height: 1em;
  margin: 0.8em;
  border-radius: 50%;
}

.loading-area .loading .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  -webkit-animation: wave 2s ease-out infinite;
          animation: wave 2s ease-out infinite;
}

.loading-area .loading .dot:nth-child(1) {
  background: #FDAC41;
}

.loading-area .loading .dot:nth-child(1)::before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loading-area .loading .dot:nth-child(2) {
  background: #89cff0;
}

.loading-area .loading .dot:nth-child(2)::before {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loading-area .loading .dot:nth-child(3) {
  background: #4682b4;
}

.loading-area .loading .dot:nth-child(3)::before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loading-area .loading .dot:nth-child(4) {
  background: #0f52ba;
}

.loading-area .loading .dot:nth-child(4)::before {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loading-area .loading .dot:nth-child(5) {
  background: #5A8DEE;
}

.loading-area .loading .dot:nth-child(5)::before {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes wave {
  50%, 75% {
    transform: scale(2.5);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes wave {
  50%, 75% {
    transform: scale(2.5);
  }
  80%, 100% {
    opacity: 0;
  }
}
::-webkit-scrollbar {
  width: 5px;
  height: 20px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #5A8DEE;
}

.list-horizontal {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin: 10px 30px 20px;
}

.list-horizontal li {
  list-style: none;
  margin-right: 20px;
  padding-right: 19px;
  border-right: 1px dotted #ccc;
}

.list-horizontal li b {
  color: #FDAC41;
  font-weight: 400;
}

.list-horizontal li:first-child {
  padding-left: 10px;
}

.list-horizontal li:last-child {
  border-right: 0;
}

.file-upload-info {
  background-color: #FFFFFF !important;
  background-clip: padding-box !important;
  border: 1px solid #DFE3E7 !important;
}

i.sorting {
  vertical-align: bottom;
}

i.sorting.active {
  color: #FDAC41;
}

select.form-control option {
  font-size: 1rem;
  /*&:checked {
      background-color: #DFE3E7;
  }*/
}

.dropdown-menu a {
  cursor: pointer;
}

.form-control.sorting {
  width: 50px;
  height: 30px;
  line-height: 30px;
  padding: 2px;
  text-align: center;
}

table.table {
  font-size: 0.7rem !important;
}

table.table th, table.table td {
  padding: 1rem !important;
}

.hint-keyword {
  color: #f5474f;
  background-color: #fcf8e3;
}
